
.header {
  height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    width: 100%;
    font-style: normal;
    line-height: 24.3px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.cover {
  height: 757px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 600px;
            padding: 165px 50px 50px;
            background-image: url(../images/cover.jpg);
            background-position: center;
            background-size: cover;
        }
        
        .overlay {
            position: absolute;
            inset: 0;
            z-index: 1;
            line-height: 1.15;
            word-spacing: 30px;
            background-color: rgba(0, 0, 0, 0.6);
        }
        

.cover__title {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    color: #fff;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    display: grid;
    gap:20px;
}

.aligned-text {
    display: block;
    line-height: 1.15;
    letter-spacing: 0.3em;
  
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
     transform: translateX(15px);
}

.aligned-text_right {
    text-align: right;
     transform: translateX(30px);
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    
}

.cover__description-text {
    color:white;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 19px;
    font-family:'raleway';
    
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-size: 22px;
    text-transform:uppercase;
    background-color: transparent;
    cursor: pointer;
    
    justify-content:end;
    
   
}

.bet-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
     
}

.lots {
    padding: 180px 0 120px;
    
}

.lots__heading {
    margin-bottom: 27px;
    margin-left: 65px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    padding: 0 24px;
    gap: 25px;
    margin-bottom: 30px;
  
}

.lots__card-list-item {
    flex: 1;
    min-height: 400px;
    width: 334px;
    list-style: none;
}

.card-link {
    display: block;
    height: 100%;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    color: white;
    gap: 35px;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: underline;
}

.card__text {
    position: relative;
    z-index: 1;
    text-align:start;
    font-size: 20px;
  
}

.lots__look-more-link {
    margin-left: 64px;
    font-size: 20px;
    text-underline-offset: 5px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding: 35px 24px 180px;
    justify-items: center;
    gap: 25px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    
}

.about__logo-image {
    width: 148px;
}

.about__title {
    margin: 100px 0;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    line-height: 1.2;

}

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 0 50px 82px;
}

.footer__address {
    max-width: 240px;
    font-style: normal;
    line-height: 1.35;
    padding-left: 55px;
    grid-column-start: 1;
    
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    text-align: center;
    list-style: none;
}

.footer__menu-list-item {
    white-space:nowrap;
}

.footer__menu-link {
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__social-list {
    display: flex;
    justify-self:end;
    gap: 48px;
    list-style: none;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
}
